Game/Snake.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Game/Snake.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Game/Snake.xcodeproj/project.xcworkspace/xcuserdata/ashipin.xcuserdatad/UserInterfaceState.xcuserstate
Game/Snake.xcodeproj/project.xcworkspace/xcuserdata/ashipin.xcuserdatad/xcdebugger/Expressions.xcexplist
Game/Snake.xcodeproj/xcuserdata/ashipin.xcuserdatad/xcschemes/xcschememanagement.plist
